* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.header {
    background-color: black;
    color: antiquewhite;
    height: 10vh;
    text-align: center;
    width: 100%;
}
.image-sectionc {
    margin-top: 20px;
}
.tamano img {
    height: 50vh;
}
footer {
    height: 25vh;
    background-color: gray;
    margin-top: 2rem;
    padding: 25px;
}
footer ul {
    list-style: none;
}
@media (min-width: 768px) {
    .header {
        width: 100vw;
        text-align: center;
    }
}
@media ( min-width: 1024px){
    .image-sectionc {
        display: flex;
        width: 100%;
        margin: 2px;
    }
}